<div class="productCallout washable {{ productClass }}">
  <a {% if target %}target="{{ target }}"{% endif %} href="{{ href }}">
    <div class="image">{{ imageContent }}</div>

    <div class="title">
      <h2>{{ largeTitle }}</h2>
      <h3>{{ smallTitle }}</h3>
    </div>

    <div class="buttonWrapper">
      <div class="button center-block">
        {{ callToAction }}
      </div>
    </div>
  </a>
</div>