<div class="row">
  <div class="container footer">
    <div class="logo">
      <img alt="Builder Professional" src="images/BPLogo_white_gradient.png" />
      <p>You can count on Builder Professional putting the builder first. Contact us with
        any questions, ideas, or concerns that you have. We want to help you be the most effective building
        business you can be.</p>
    </div>

    <div class="contactInfo">
      <h6><span>Contact Info</span></h6>

      <p>Give us feedback. We'd love to hear from you!</p>

      <ul>
      {% for contactMethod in config.contactMethods %}
        <li class="{{ contactMethod.cssClass }}">
          {{ contactMethod.label }}
          {% if contactMethod.cssClass == 'email' %}
          <span><a href="mailto:{{ contactMethod.value }}">{{ contactMethod.value }}</a></span>
          {% else %}
            <span>{{ contactMethod.value }}</span>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>

    <div class="happening">
      <h6><span>What's Happening?</span></h6>

      <a class="twitter-timeline" data-tweet-limit="2" data-chrome="transparent noscrollbar nofooter"  href="https://twitter.com/wehelpbuilders" data-widget-id="633066756177707008">Tweets by @wehelpbuilders</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
<div class="row">
  <div class="container copyright">
    &copy; 2015 Builder Professional Technology, LLC. All Rights Reserved
  </div>
</div>